DFT/verl/checkpoints
DFT/verl/wandb
DFT/verl/outputs
DFT/verl/data/

one-shot-em/checkpoints
one-shot-em/wandb
one-shot-em/dataset/

rl-tests/wandb
rl-tests/outputs
rl-tests/data/*.parquet

One-Shot-RLVR/wandb
One-Shot-RLVR/outputs
One-Shot-RLVR/data/*.parquet

one-input-sft/save*
one-input-sft/train-data/

save/
stash/
*.whl
DFT/verl/data/
*.whl*
